header{
    border-bottom: 1px solid darkgrey;
    display: flex;
    justify-content: space-between;
}

header a:first-child {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    color: rgb(151, 66, 5);
} 
header a>img{
 margin: 10px;
 padding: 10;
 
}
